[Desktop Entry]
Name=Applications
Comment=Manage default and start up applications
Exec=switchboard -o personal-pantheon-applications
Icon=preferences-desktop-applications
Terminal=false
Type=Application
StartupNotify=true
Categories=X-PANTHEON-Switchboard-Plugs;
OnlyShowIn=Pantheon;
Keywords=applications;apps;startup;defaults;
X-GNOME-Gettext-Domain=switchboard
